---
title: Duka ya Bao
---

<h1>
 Duka ya Bao 
</h1>


<h1>Product and Quantity Selection</h1>

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/Tavolabao.jpg',
  :title => 'Bao',
  :price => '3000/=',
  :alt => 'Picture of Bao board.',
  :width => '200px',
  :caption => 'Example Bao board, picture by <a href="//commons.wikimedia.org/w/index.php?title=User:Nives&amp;action=edit&amp;redlink=1" title="User:Nives (page does not exist)">Nino Vessella</a> - Own work, <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=3181560">Link</a>',
})%>
<input type="number" id="bao" onclick="changeBao()" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => { 
  :src => '/middleman-flutterwave-duka/images/Endodoi.jpg',
  :title => 'Endodoi',
  :price => '2500/=',
  :alt => 'Picture of Endodoi board.',
  :width => '200px',
  :caption => 'Example Endodoi board, picture by Víktor Bautista i Roca - <a href="http://www.wikimanqala.org/wiki/Image:Endodoi.jpg">www.wikimanqala.org</a>, <a href="https://creativecommons.org/licenses/by-sa/2.5" title="Creative Commons Attribution-Share Alike 2.5">CC BY-SA 2.5</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=1613947">Link</a>',
})%>
<input type="number" id="endodoi" onclick="changeEndodoi()" value="0" min="0" max="20" step="1">

        <h1>Delivery Location Selection</h1>
<div id="map-container" >
              <div id="mapid"></div>
        </div>
        <h1>Payment</h1>
               <form id="buy">
 <ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  </li>
  <li>
          <label for="telephone">Telephone:</label>
          <input type="tel" id="telephone" name="user_telephone">
  </li>
  <li>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_email">
  </li>
  <li>
    <label for="address">Delivery Address:</label>
    <textarea id="address" name="user_address"></textarea>
  </li>
  <li>
    <label for="msg">Additional information:</label>
    <textarea id="msg" name="user_message"></textarea>
  </li>
 </ul>
 <li class="button">
  <button type="button" id="pay" onClick="payWithRave()">Pay</button>
</li>
</form>

